# Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.utils import resample
import jenkspy
from scipy.stats import zscore

# Question 4

## Part b

### روش اول

In [ ]:
df_machines['labeled_PRP'] = ['A' if b<=300 else 'B' for b in df_machines.PRP]

### روش دوم

In [ ]:
df_machines['labeled_PRP'] = df_machines['PRP']

for i in range(len(df_machines)):
  if df_machines.loc[i, 'PRP'] <= 300:
    df_machines.loc[i, 'labeled_PRP'] = 'A'
  else:
    df_machines.loc[i, 'labeled_PRP'] = 'B'

In [ ]:
df_machines

     index Vendor_name          model  MCYT  ...  CHMAX  PRP  ERP  labeled_PRP
0      NaN     adviser          32/60   125  ...    128  198  199            A
1      0.0      amdahl         470v/7    29  ...     32  269  253            A
2      1.0      amdahl        470v/7a    29  ...     32  220  253            A
3      2.0      amdahl        470v/7b    29  ...     32  172  253            A
4      3.0      amdahl        470v/7c    29  ...     16  132  132            A
..     ...         ...            ...   ...  ...    ...  ...  ...          ...
204  203.0      sperry           80/8   124  ...      8   42   37            A
205  204.0      sperry  90/80-model-3    98  ...      8   46   50            A
206  205.0      sratus             32   125  ...     14   52   41            A
207  206.0        wang         vs-100   480  ...      0   67   47            A
208  207.0        wang          vs-90   480  ...      0   45   25            A

[209 rows x 12 columns]

## Part c

In [ ]:
df_machines['labeled_PRP'].value_counts()

A    192
B     17
Name: labeled_PRP, dtype: int64

با توجه به نتایج بالا، 193 رکورد A بوده و 13 رکورد B هستند . 
بنابراین مشکل imbalance بودن دیتا را داریم.

## Part d

In [ ]:
df_majority = df_machines[df_machines['labeled_PRP']=='A']
df_minority = df_machines[df_machines['labeled_PRP']=='B']

df_minority_upsampled = resample(df_minority, replace=True, n_samples=195, random_state=123) 
df_upSampled = pd.concat([df_majority, df_minority_upsampled])
df_upSampled.labeled_PRP.value_counts()

A    195
B    195
Name: labeled_PRP, dtype: int64

## Part e

In [ ]:
df_majority = df_machines[df_machines['labeled_PRP']=='A']
df_minority = df_machines[df_machines['labeled_PRP']=='B']

df_majority_downsampled = resample(df_majority, replace=False, n_samples=13, random_state=123) 
df_downSampled = pd.concat([df_majority_downsampled, df_minority]) 
df_downSampled.labeled_PRP.value_counts()

A    13
B    13
Name: labeled_PRP, dtype: int64